//colors
$background-main-lightgrey: #F6F7FC;
$main-font-darkgrey: #292A2F;
$secondary-font-white: #FFFFFF;
$title-logobg-yellow: #FFB837; 
$listview-button-violet: #6B74E3;
$border-buttons-grey: #CECECE;
$nav-indicators-hover-grey: #B6BDC0;
$nav-indicators-grey: #C4CBD6;
$form-bg-white: #FFFFFF;
$form-bg-orange: #FFA375;
$form-bg-blue: #1BB4DB;
$form-button-mainbg-grey: #CBCED5;
$form-button-deletebg-red: #FF5072;
$form-button-approvedbg-green: #43C65F;
$form-button-changebg-yellow: #FFC71A;
$header-shadow-grey: rgba(204,204,204,0.3);

//sizes
$movesButton-width: 100px;
