@font-face {
  font-family: 'MarlinGeo';
  src: url('../fonts/MarlinGeo-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarlinGeo';
  src: url('../fonts/MarlinGeo-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MarlinGeo';
  src: url('../fonts/MarlinGeo-Medium.otf') format('otf');
  font-weight: medium;
  font-style: normal;
}
